@page
@model ezNotes.Pages.Notes.NewModel
@{
    ViewData["Title"] = "New note";
}
<h2>New note</h2>
<form method="post">
    <div class="form-row">
        <label for="Title">Title</label>
        <input id="Title" class="input" asp-for="Input.Title" />
    </div>

    <div class="form-row">
        <label for="ContentMd">Content (Markdown)</label>
        <textarea id="ContentMd" class="input" asp-for="Input.ContentMd" rows="10"></textarea>
    </div>

    <div class="form-row actions">
        <button class="btn btn-primary" type="submit">Create</button>
        <a class="btn" asp-page="./Index">Cancel</a>
    </div>
</form>
